@{
    ViewData["Title"] = "Classmates";
}

<main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>My Classmates From Centriq</h2>
            </div>
            <div class="container">
            <div class="row justify-content-around">
                <div class="col-lg-4 col-md-6 d-flex align-items-center mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100" style="justify-content:space-around">
                    <div class="icon-box">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                            </svg>
                                <a href="http://catiewatsondev.com/" target="_blank"><img src="~/assets/img/classmates/catie.png" alt="Catie Watson" id="catie"></a>
                        </div>
                        <h4><a href="http://catiewatsondev.com/" target="_blank">Catie<br />Watson</a></h4>
                        <div class="classmate-social-links">
                            <a href="http://catiewatsondev.com/" class="browser-chrome" target="_blank"><i class="bi bi-browser-chrome"></i></a>
                                <a href="https://github.com/catgwat" class="git" target="_blank"><i class="bi bi-git"></i></a>
                            <a href="https://www.linkedin.com/in/catie-watson-dev/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                    <div class="col-lg-4 col-md-5 d-flex align-items-center mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="100" style="justify-content:space-around">
                    <div class="icon-box">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                            </svg>
                                <a href="http://thomaswaltondev.com/" target="_blank"><img src="~/assets/img/classmates/thomas2024.jpg" alt="Thomas Walton" id="thomas"></a>
                        </div>
                        <h4><a href="http://thomaswaltondev.com/" target="_blank">Thomas<br />Walton</a></h4>
                        <div class="classmate-social-links">
                            <a href="http://thomaswaltondev.com/" class="browser-chrome" target="_blank"><i class="bi bi-browser-chrome"></i></a>
                            <a href="https://github.com/TWaltonIT" class="git" target="_blank"><i class="bi bi-git"></i></a>
                            <a href="https://www.linkedin.com/in/thomaswaltondev/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-center mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100" style="justify-content:space-around">
                    <div class="icon-box">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <a href="http://haleykillingsworth.com/" target="_blank"><img src="~/assets/img/classmates/haley.jpg" alt="Haley Killingsworth" id="haley"></a>
                            </svg>
                        </div>
                        <h4><a href="http://haleykillingsworth.com/" target="_blank">Haley<br />Killingsworth</a></h4>
                        <div class="classmate-social-links">
                            <a href="http://haleykillingsworth.com/" class="browser-chrome" target="_blank"><i class="bi bi-browser-chrome"></i></a>
                            <a href="https://github.com/HaleyOtaku" class="git" target="_blank"><i class="bi bi-git"></i></a>
                            <a href="https://www.linkedin.com/in/haley-killingsworth-4315b2199/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-center mt-4" data-aos="zoom-in" data-aos-delay="100" style="justify-content:center">
                    <div class="icon-box">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                               <a href="http://austinfarrow.com/" target="_blank"> <img src="~/assets/img/classmates/austin.jpg" alt="Austin Farrow" id="austin"></a>
                            </svg>
                        </div>
                        <h4><a href="http://austinfarrow.com/" target="_blank">Austin<br />Farrow</a></h4>
                        <div class="classmate-social-links">
                            <a href="http://austinfarrow.com/" class="browser-chrome" target="_blank"><i class="bi bi-browser-chrome"></i></a>
                            <a href="https://github.com/a-farrow" class="git" target="_blank"><i class="bi bi-git"></i></a>
                            <a href="https://linkedin.com/in/austin-farrow" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-center mt-4" data-aos="zoom-in" data-aos-delay="100" style="justify-content:center">
                    <div class="icon-box">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                            </svg>
                                <a href="http://ethanjamesaa.com/" target="_blank"><img src="~/assets/img/classmates/ethan.jpg" alt="Ethan Anderson-Alexander" id="ethan"></a>
                        </div>
                        <h4><a href="http://ethanjamesaa.com/" target="_blank">Ethan<br />Anderson-Alexander</a></h4>
                        <div class="classmate-social-links">
                            <a href="http://ethanjamesaa.com/" class="browser-chrome" target="_blank"><i class="bi bi-browser-chrome"></i></a>
                            <a href="https://github.com/HossinatorWCheez" class="git" target="_blank"><i class="bi bi-git"></i></a>
                            <a href="https://www.linkedin.com/in/ethan-alexander-dev/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </div>
    </section><!-- End Services Section -->

</main><!-- End #main -->
