@{
    ViewData["Title"] = "Home";
}

<!-- Hero section-->
<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">

        <h1>Hello, World!</h1>
        <h2>I'm Taryn, a Full Stack Web Developer</h2>
        <p></p>
        <div class="row">
            <div class="col-lg-4">
                <img src="~/assets/img/portfolio/taryn2024.jpg" class="img-fluid" alt="Taryn Ambrosi">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
              
                    <p>
                        Hi! I'm Taryn, a gal with a passion for crafting, gaming, and coding. My journey into the world of technology traces back to when I was a kid, where I found joy in gaming alongside my sisters and my dad, which later sparked an interest in coding. <br /><br />

                        As I've honed my skills at Centriq, coding has evolved from an interest to a genuine passion. A future aspiration of mine is to develop a small indie game, with the hopes of expanding into something even bigger.<br /><br />

                        My journey into technology began after initially pursuing a path in the beauty industry, following in my mom's footsteps. This led me to become an esthetician at the age of 18 and pursue that role for 5 years. During my time in said role, I adeptly managed the needs of over 20 clients daily, refining my communication, problem-solving, and customer service skills. However, I felt limited creatively in this field, which spurred my decision to begin my education at Centriq.<br /><br />

                        My experiences have instilled in me a strong sense of adaptability, a trait in which I've learned is invaluable in the dynamic field of programming. I am a versatile and empathetic team player, and I'm ready to take on any challenge!<br /><br />

                        I'm excited about the endless possibilities of contributing my unique blend of creativity, technical skills, and passion to your team. Let's embark on a new adventure together and create something truly extraordinary!
                    </p>
               
                
            </div>
        </div>
  
    </div>
</section>
<!-- Hero section end -->