@{
    ViewData["Title"] = "Home";
}
<main id="main">
    <!-- Hero section-->

    <section id="hero" class="d-flex align-items-center">
        <div class="container d-flex flex-column align-items-center" data-aos="fade-up" data-aos-delay="100">
            <h1>Taryn Ambrosi</h1>
            <h2>Full Stack Developer from Independence, Missouri</h2>
            <a href="#about" class="btn-about">Learn more</a>
        </div>
    </section><!-- End Hero -->
    <!-- Hero section end -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>My Journey into Technology</h2>
                <p></p>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <img src="~/assets/img/portfolio/taryn2024.jpg" class="img-fluid" alt="Taryn Ambrosi" style="border-radius: 5px">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content">
                    <h3></h3>
                    <p class="fst-italic" style="font-size: large">
                        Prior to entering the field of technology, I dedicated five years to esthetics and the beauty industry. While I found the work enjoyable, I needed a deeper sense of fulfillment. The transition to becoming a developer, thanks to Centriq, has been transformative and inspiring.
                        <br /> <br />
                        My fascination with coding quickly evolved from a passing interest to a true passion. The skills I attained as an esthetician, including managing the needs of over 20 clients daily, honing effective communication, and becoming adept at problem-solving, have been invaluable.
                        <br /> <br />
                        Now, having graduated from Centriq, I'm ecstatic about expanding my expertise in various coding languages and crafting exciting projects (like the ones <a asp-action="Portfolio" asp-controller="Home">here</a>!). The boundless potential of this field is incredible, and I can't wait to collaborate on a team with nerds like me. Thank you for visiting my site, and please feel free to reach out with any questions or simply to say hi!
                    </p>
                   
                    
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
</main>