@{
    ViewData["Title"] = "Home";
}

<!-- Hero section-->
<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">

        <h1>Hello, World!</h1>
        <h2>I'm Taryn, a Full Stack Web Developer</h2>
        <p></p>
        <div class="row">
            <div class="col-lg-4">
                <img src="~/assets/img/testimonials/taryn.jpg" class="img-fluid" alt="Taryn Ambrosi">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
              
                    <p>
                        Hi! I'm Taryn, an imaginative individual with a profound passion for crafting, gaming, and coding. My foray into the realm of technology traces back to my early days, where I found joy in gaming alongside my family, sparking a deep-seated interest in coding. <br /><br />

                        As I've honed my skills at Centriq, coding has evolved from an interest to a genuine passion. A future aspiration of mine is to develop a small indie game, with hopes of expanding into something even more grand.<br /><br />

                        My journey into technology began after initially pursuing a path in the beauty industry, following in my mom's footsteps. This led me to become an esthetician at the young age of 18. During my time in this role, I adeptly managed the needs of over 20 clients daily, refining my communication, problem-solving, and customer service skills. However, I felt limited creatively in this field, which spurred my decision to transition into programming.<br /><br />

                        My experiences have instilled in me a strong sense of adaptability, a trait invaluable in the dynamic field of programming. I am a versatile and empathetic team player, ready to take on any challenge.<br /><br />

                        I am excited about the possibility of contributing my unique blend of creativity, technical skills, and passion to your team. Let's embark on a new adventure together and create something truly extraordinary!
                    </p>
               
                
            </div>
        </div>
  
    </div>
</section>
<!-- Hero section end -->