@{
    ViewData["Title"] = "Portfolio Details";
}


<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="assets/img/portfolio/portfolio-1.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="assets/img/portfolio/portfolio-2.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="assets/img/portfolio/portfolio-3.jpg" alt="">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Dungeon Application</h3>
                        <ul>
                            <li><strong>Category</strong>: Middle Tier</li>
                            <li><strong>IDE</strong>: Microsoft Visual Studio 2022</li>
                            <li><strong>Project date</strong>: February 2024</li>
                            <li><strong>Project URL</strong>: <a href="https://github.com/tarynambrosi/VaultofOoo.git">VaultofOoo</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>"Vault of Ooo"</h2>
                        <p>
                            My first dungeon crawler application using C#.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->