@{
    ViewData["Title"] = "Portfolio";
}

<main id="main">

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Portfolio</h2>
                <p></p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-web">Web</li>
                    </ul>
                </div>
            </div>
            <!-- dungeon app-->
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/dungeongif.gif" class="img-gif" alt="Playthrough of Dungeon Crawler App">
                        <div class="portfolio-info">
                            <h4>Dungeon App</h4>
                            <p>C#</p>
                            <div class="portfolio-links">
                                <a asp-action="PortfolioDetails" asp-controller="Home" title="Details"><i class="bx bx-plus"></i></a>
                                <a href="https://github.com/tarynambrosi/VaultofOoo.git" target="_blank"><i class="bi bi-git" id="portfolioGit"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- storefront -->
                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/portfolio/storefrontgif.gif" class="img-fluid" alt="Gif of Storefront home page">
                            <div class="portfolio-info">
                                <h4>Mock Storefront</h4>
                                <p>.NET Core MVC</p>
                                <div class="portfolio-links">
                                    <a asp-action="StorefrontDetails" asp-controller="Home" title="Details"><i class="bx bx-plus"></i></a>
                                    <a href="https://github.com/tarynambrosi/StoreFront.git" target="_blank"><i class="bi bi-git" id="portfolioGit"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- react todo -->
                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/portfolio/reacttodo.png" class="img-fluid" alt="To Do page of my ToDo App">
                            <div class="portfolio-info">
                                <h4>ReactJS ToDo App</h4>
                                <p>An app for creating, editing, and checking off tasks to stay organized.</p>
                                <div class="portfolio-links">
                                    <a asp-action="ToDoDetails" asp-controller="Home" title="Details"><i class="bx bx-plus"></i></a>
                                    <a href="https://github.com/tarynambrosi/react-todo.git" target="_blank"><i class="bi bi-git" id="portfolioGit"></i></a>
                                    <a href="https://todo.ambrosidev.net" target="_blank"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- todo api -->
                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/portfolio/todoapi.png" class="img-fluid" alt="JSON Objects">
                            <div class="portfolio-info">
                                <h4>ToDo Web API</h4>
                                <p>.NET Core Web API</p>
                                <div class="portfolio-links">
                                    <a asp-action="ToDoAPIDetails" asp-controller="Home" title="Details"><i class="bx bx-plus"></i></a> 
                                    <a href="https://github.com/tarynambrosi/react-todo.git" target="_blank"><i class="bi bi-git" id="portfolioGit"></i></a>
                                    <a href="https://todoapi.ambrosidev.net/API/ToDos" target="_blank"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--dvpro team project-->
                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/portfolio/loginscrnshot.png" class="img-fluid" alt="Login page of Team project">
                            <div class="portfolio-info">
                                <h4>Team Project with my classmates at Centriq</h4>
                                <p>.NET Core MVC</p>
                                <div class="portfolio-links">
                                    <a asp-action="TeamDetails" asp-controller="Home" title="Details"><i class="bx bx-plus"></i></a> 
                                    <a href="https://github.com/CentriqFullStackHack/DVPRO_01-22-24.git" target="_blank"><i class="bi bi-git" id="portfolioGit"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Languages Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Languages</h2>
                <p>Below you'll find all of the languages I've used so far. You can see how I used them to achieve my projects above!</p>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/assets/img/csharp.png" class="testimonial-img" alt="C# Logo">
                            <h3>C#</h3>
                            <h4><a href="https://learn.microsoft.com/en-us/dotnet/csharp/" target="_blank">Learn more about C# here!</a></h4>
                            <p>
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/assets/img/html5.png" class="testimonial-img" alt="HTML Logo">
                            <h3>HTML</h3>
                            <h4><a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">Learn more about HTML here!</a></h4>
                            <p>
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/assets/img/css.png" class="testimonial-img" alt="CSS Logo">
                            <h3>CSS</h3>
                            <h4><a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">Learn more about CSS here!</a></h4>
                            <p>
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/assets/img/jquery-1-logo.png" class="testimonial-img" alt="jQuery Logo">
                            <h3>jQuery</h3>
                            <h4><a href="https://api.jquery.com/" target="_blank">Learn more about jQuery here!</a></h4>
                            <p>
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/assets/img/js.png" class="testimonial-img" alt="JavaScript Logo">
                            <h3>JavaScript</h3>
                            <h4><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">Learn more about JavaScript here!</a></h4>
                            <p>
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/assets/img/react.png" class="testimonial-img" alt="React Logo">
                            <h3>React</h3>
                            <h4 class="learn-more"><a href="https://react.dev/learn" target="_blank">Learn more about React here!</a></h4>
                            <p>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/assets/img/sql.png" class="testimonial-img" alt="SQL Logo">
                            <h3>SQL</h3>
                            <h4 class="learn-more"><a href="https://learn.microsoft.com/en-us/sql/?view=sql-server-ver16" target="_blank">Learn more about SQL here!</a></h4>
                            <p>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>
    <!-- End Languages section -->
</main><!-- End #main -->