@{
    ViewData["Title"] = "Dungeon App Details";
}


<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container" data-aos="fade-up">
            <div class="section-title pt-3">
                <h2 class="mt-4">Dungeon App</h2>
            </div>
            <div class="container">

                <div class="row" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-8 portfolio-details-slider">
                        <img src="~/assets/img/portfolio/dungeongif.gif" class="img-fluid" alt="Dungeon gameplay gif">
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            <h3>Dungeon Application</h3>
                            <ul>
                                <li><strong>Language used</strong>: C#</li>
                                <li><strong>IDE</strong>: Microsoft Visual Studio 2022</li>
                                <li><strong>Project date</strong>: February 2024</li>
                                <li><a href="https://github.com/tarynambrosi/VaultofOoo.git"><strong>Check it out on Github!</strong></a></li>
                            </ul>
                            <h3></h3>
                            <p>
                                This was the very first project I created using C#. It taught me the fundamental skills of that language as well as LINQ. This dungeon was inspired by Adventure Time and their many different characters.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
