@{
    ViewData["Title"] = "Resume";
}

<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Resume</h2>
                <p>Starting as an esthetician in 2018, I enjoyed the work but felt it didn't offer enough problem-solving challenges. Transitioning into web development as a junior developer, I've found a field that provides the level of problem-solving I was seeking. I'm now focused on gaining more experience and expertise in web development!</p><br>
                <link rel="stylesheet" href="TarynResume.pdf">
                <a href="~/assets/TarynAmbrosiDevResume.pdf" download="TarynAmbrosiDevResume.pdf" class="download-button">Download PDF</a>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Overview</h3>
                    <div class="resume-item pb-0">
                        <h4></h4>
                        <p><em>Based on my academic and professional background, I've acquired a diverse skill set applicable to development. My experiences have honed my abilities in adaptability, problem-solving, organization, teamwork, and open-mindedness. Furthermore, I've developed foundational proficiency in HTML, CSS, JavaScript, and C#.</em></p>
                        <p>
                            <ul>
                                <li>Kansas City, Missouri</li>
                                <li>(816) 500-5539</li>
                                <li>tarynambrosi@gmail.com</li>
                            </ul>
                        </p>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Centriq Full Stack Development Training</h4>
                        <h5>Jan 2024 - May 2024</h5>
                        <p><em>Centriq, Kansas City, MO</em></p>
                        <p>
                            <ul>
                                <li>Gained fundamental knowledge of Front End, Middle Tier, and Back End developing.</li>
                                <li>Learned and created different apps and websites using tools such as Azure Data Studio, Visual Studio, Visual Studio Code, SSMS, and Git Bash.</li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4>Esthetics License</h4>
                        <h5>Jan 2018 - Aug 2018</h5>
                        <p><em>Mitsu Sato Hair Academy, Overland Park, KS</em></p>
                        <p>
                            <ul>
                                <li>Gained experience with booking clients using different scheduling apps.</li>
                                <li>Learned about skin diseases and disorders in order to leverage knowledge on facial treatments.</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">Work Experience</h3>
                    <div class="resume-item">
                        <h4>Expo/Food runner</h4>
                        <h5>Jul 2023 - Feb 2024</h5>
                        <p><em>Q39, Kansas City, MO</em></p>
                        <p>
                            <ul>
                                <li>Assembled over 500 plates to serve to guests and ensured they were of proper presentation and accuracy to the order.</li>
                                <li>Communicated with the team effectively to stay organized.</li>
                                <li>Trained new team members and facilitated study guides for the memorization of the menu and its specificities.</li>
                                <li>Quickly and efficiently resolved issues regarding incorrect orders and/or missing items.</li>
                                <li>Ensured that each ticket was out of the window within 10 minutes or less of the order being put in by corresponding with the chefs and kitchen staff.</li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4>Esthetician</h4>
                        <h5>Jul 2021 - Jun 2023</h5>
                        <p><em>European Wax Center, Prairie Village, KS</em></p>
                        <p>
                            <ul>
                                <li>Provided the highest quality wax service while maintaining a friendly and positive attitude.</li>
                                <li>Informed guests on pre- and post-wax skincare to maximize their wax experience, as well as encouraged them to implement new steps in their skin routine.</li>
                                <li>Coordinated client scheduling and served over 20 clients daily.</li>
                                <li>Marketed myself and EWC’s products to every client each shift and managed my product sales and goals.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->

</main><!-- End #main -->