@{
    ViewData["Title"] = "Storefront Details";
}


<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">

        <div class="section-title pt-3">
            <h2>Storefront</h2>
        </div>
        <div class="container">

            <div class="row">

                <div class="col-lg-8 portfolio-details-slider">
                    <img src="~/assets/img/portfolio/storefrontgif.gif" class="img-fluid" alt="Scroll through of Storefront index">
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Storefront</h3>
                        <ul>
                            <li>.NET Core MVC App</li>
                            <li><strong>IDE</strong>: Microsoft Visual Studio 2022</li>
                            <li><strong>Project date</strong>: March 2024</li>
                            <li><a href="https://github.com/tarynambrosi/VaultofOoo.git">Check it out on Github!</a></li>
                        </ul>
                        <h3></h3>
                        <p>
                            I made this mock online store based on my dad's business in KC. I loved making the database for this project and I definitely plan to keep making more!
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
