@{
    ViewData["Title"] = "Team Project Details";
}


<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container" data-aos="fade-up">
            <div class="section-title pt-3">
                <h2 class="mt-4">Team App</h2>
            </div>
            <div class="container">

                <div class="row" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-8 portfolio-details-slider">
                        <img src="~/assets/img/portfolio/vendorsscrnshot.png" class="img-fluid" alt="Vendors overview page of Atomic Synergistics App">
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            <h3>Administrative Intranet App</h3>
                            <ul>
                                <li>.NET Core MVC</li>
                                <li><strong>IDE</strong>: Microsoft Visual Studio 2022</li>
                                <li><strong>Project date</strong>: May 2024</li>
                                <li><a href="https://github.com/CentriqFullStackHack/DVPRO_01-22-24.git"><strong>Check it out on Github!</strong></a></li>
                            </ul>
                            <h3></h3>
                            <p>
                                My <a asp-action="Classmates" asp-controller="Home">classmates</a> and I designed this administrative application for "Atomic Synergistics" with the primary goal that it will allow authorized staff to manage company records.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
