@{
    ViewData["Title"] = "ToDo API Details";
}


<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">

        <div class="section-title pt-3">
            <h2>ToDo Web API</h2>
        </div>
        <div class="container">

            <div class="row">

                <div class="col-lg-8 portfolio-details-slider">
                    <img src="~/assets/img/portfolio/todoapi.png" class="img-fluid" alt="JSON Objects">
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>ToDo Web API</h3>
                        <ul>
                            <li>.NET Core Web API</li>
                            <li><strong>IDE</strong>: Microsoft Visual Studio 2022</li>
                            <li><strong>Project date</strong>: April 2024</li>
                            <li><a href="https://github.com/tarynambrosi/react-todo.git">Check it out on Github!</a></li>
                            <li><a href="https://todoapi.ambrosidev.net/API/ToDos" target="_blank"><i class="bx bx-link"></i></a></li>
                        </ul>
                        <h3></h3>
                        <p>
                            This allows my ToDo database to communicate with my ToDo app!
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->