@{
    ViewData["Title"] = "ToDo App Details";
}


<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">

        <div class="section-title pt-3">
            <h2>ToDo App</h2>
        </div>
        <div class="container">

            <div class="row">

                <div class="col-lg-8 portfolio-details-slider">
                    <img src="~/assets/img/portfolio/reactjsscrn.png" class="img-fluid" alt="Screencap of ToDo App">
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>ToDo Application</h3>
                        <ul>
                            <li><strong>Language used</strong>: React JS</li>
                            <li><strong>IDE</strong>: Visual Studio Code</li>
                            <li><strong>Project date</strong>: April 2024</li>
                            <li><a href="https://github.com/tarynambrosi/react-todo.git">Check it out on Github!</a></li>
                            <li><a href="https://todo.ambrosidev.net">Visit the site!</a></li>
                        </ul>
                        <h3></h3>
                        <p>
                            This project made me realize just how fast React JS can handle user data and updating the app simultaneously, making the app feel incredibly lightweight.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->